
<div class="main-contents">
  <div class="">
    <h2>iPhone組み立て工場です。</h2>
    <!-- <h3>5万円/1台です</h3> -->
  </div>


  <a href="/logout">ログアウト</a>
  <br>
  <%= @inform %>
  <% if @name %>
    <%= @name %>さんをを雇いました
  <% end %>
  <br>
  <a href="/yatou"><button type="button" class="botton-a btn btn-default btn-lg active">やとう</button></a>
  <a href="/susumeru"><button type="button" class="botton-a btn btn-default btn-lg active">すすめる</button></a>
  <br>
  <a href="/info"><button type="button" class="botton-a btn btn-default btn-lg active">従業員詳細</button></a>
  <a href="/stock"><button type="button" class="botton-a btn btn-default btn-lg active">製品と部材確認</button></a>
  <br>
  <a href="/buy"><button type="button" class="botton-a btn btn-default btn-lg active">部品購入</button></a>
  <a href="/customer"><button type="button" class="botton-a btn btn-default btn-lg active">お客さん</button></a>
  <br>
  <a href="/shop"><button type="button" class="botton-a btn btn-default btn-lg active">ショッピング</button></a>
  <a href="/tukau"><button type="button" class="botton-a btn btn-default btn-lg active">つかうよ</button></a>
  <br>
  <!-- <a href="/info"><button type="button" class="botton-a btn btn-default btn-lg active">Bossコマンド</button></a>
  <a href="/info"><button type="button" class="botton-a btn btn-default btn-lg active">推移とグラフ</button></a>
  <br> -->



</div>
