<h1 id="title">アカウント作成</h1>

<%= @page_info %>
<form action="/new_acount" method="post">
  新規ユーザー名: <input type="text" name="new_name" required>
  新規パスワード: <input type="text" name="new_pass" required>
  <input type="submit" name="" value="new acount">
  <br><a href="/">ログイン画面に戻る</a>
</form>
